/*! 4494 2013-9-18 18:28:23 */
html {overflow: hidden;}
html, body {height: 100%; background-color: #f3f1f0; background: url(/css/pjt/site/page/imgs/atc_bg.jpg?v=611) repeat 0 0;}
.article-header {position: absolute; width: 100%; z-index: 10; background: url(/css/pjt/site/page/imgs/header-bg.gif?v=4461) #e3e1e0 repeat 0 0; height: 50px;}
.article-header .logo {color: #666; position: absolute; left: 26px; top: 12px;}
.article-header .logo .title {width: 170px; height: 26px; float: left; background: url(/css/pjt/site/page/imgs/art_tools.gif?v=4461) #e3e1e0 repeat 0 0;}
.article-header .logo .title:hover, .article-header .logo .title:active {background-position: 0 -30px;}
.article-header .logo .title span {cursor: pointer; display: none;}
.article-header a.qr-code-btn span {cursor: default;}
.article-header a.qr-code-btn:link, .article-header a.qr-code-btn:visited {color: #fff;}
.article-header a.qr-code-btn:hover, .article-header a.qr-code-btn:active {color: #ea5449;}
.article-header a.share-btn:link, .article-header a.share-btn:visited {color: #fff;}
.article-header a.share-btn:hover, .article-header a.share-btn:active {color: #aaa;}
.article-header .tools-area {position: absolute; right: 22px; top: 13px;}
.article-header .tools-area .tools-btn {float: left; margin: 0 0 0 35px; width: 22px; height: 24px; background: url(/css/pjt/site/page/imgs/art_tools.gif?v=4461) no-repeat -176px 0;}
.article-header .tools-area .tools-btn span {display: none;}
.article-header .tools-area .edit-btn:hover, .article-header .tools-area .edit-btn:active {background-position: -176px -30px;}
.article-header .tools-area .share-btn {background-position: -200px 0;}
.article-header .tools-area .share-btn:hover, .article-header .tools-area .share-btn:active {background-position: -200px -30px;}
.article-header .qr-code-btn {float: left; margin: 5px 2em 0 0;}
.article-header .qr-code-btn .ico {float: left; height: 15px; width: 15px; margin: 0 3px 0 0; background: url(/css/comp/imgs/qr-code-ico.gif?v=4461) no-repeat 0 0;}
.article-header .share-btn span {cursor: pointer;}
.qr-img {position: absolute; right: 145px; top: 50px;}
.page {width: 100%; height: 100%;}
.pcs-article-iframe {width: 100%; height: 100%;}
.next-article,
.prev-article {position: absolute; right: 20px; top: 45%; font-size: 16px; padding: 0 0 0 30px; background: url(/css/pjt/site/page/imgs/nextAtc.gif?v=649) no-repeat 0 center; overflow: hidden;}
.next-article .label,
.prev-article .label {display: block;}
.next-article a,
.prev-article a {display: block; width: 180px; padding: 18px 16px; border-radius: 4px 0 0 4px; overflow: hidden; filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#7F000000,endcolorstr=#7F000000); margin-right: -212px; transition: margin-right .3s ease-out; -webkit-transition: margin-right .3s ease-out; -moz-transition: margin-right .3s ease-out; -o-transition: margin-right .3s ease-out; background-color: rgba(150, 150, 150, .5);}
.next-article a:link,
.next-article a:visited,
.next-article a:hover,
.next-article a:active,

.prev-article a:link,
.prev-article a:visited,
.prev-article a:hover,
.prev-article a:active {color: #333;}
.next-article-msover,
.prev-article-msover {background-image: none;}
.next-article-msover a,
.prev-article-msover a {margin-right: 0; background-color: rgba(170, 170, 170, 1);}
.prev-article {left: 0; right: auto; padding: 0 30px 0 0; background: url(/css/pjt/site/page/imgs/prevAtc.gif?v=673) no-repeat right center;}
.prev-article a {border-radius: 0 4px 4px 0; margin-left: -212px; margin-right: 0; transition: margin-left .3s ease-out; -webkit-transition: margin-left .3s ease-out; -moz-transition: margin-left .3s ease-out; -o-transition: margin-left .3s ease-out;}
.prev-article a:link,
.prev-article a:visited,
.prev-article a:hover,
.prev-article a:active {color: #333;}
.prev-article-msover {background-image: none;}
.prev-article-msover a {margin-left: 0; margin-right: 0;}
