/*! 4461 2013-9-17 14:8:14 */
@import url(/css/pjt/site/common/base.css?v=4088);
@import url(/css/comp/cang_pc/ui.css?v=4409);
@import url(/css/pjt/site/common/dailog.css?v=3929);
body {background-color: #fff; font-family: '微软雅黑', Tahoma;}
a {text-decoration: none;}
a:link, a:visited {color: #333;}
a:hover, a:active {color: #ea5449;}
.edit-unit-panel .dailogTitle,
.share-panel .dailogTitle,
.add-cang-panel .dailogTitle,
.edit-tag-panel .dailogTitle {padding: 30px 0 0 30px; margin: 0 0 0; font-size: 18px; font-weight: bold; text-align: left;}
.share-panel .dailogText,
.edit-unit-panel .dailogText,
.add-cang-panel .dailogText,
.edit-tag-panel .dailogText {text-align: left;}
.edit-unit-panel .my-tag-tips,
.edit-tag-panel .my-tag-tips {margin: 0 0 10px; max-height: 70px; overflow: hidden;}
.edit-unit-panel .text-input,
.edit-tag-panel .text-input {width: 366px; margin: 0 0 8px;}
.edit-unit-panel .edit-tag-btns,
.edit-tag-panel .edit-tag-btns {padding: 5px 0 20px 75px;}
.edit-unit-panel .cancel-btn,
.edit-tag-panel .cancel-btn {margin: 0 0 0 20px;}
.edit-tag-panel a.tag-btn:link, .edit-tag-panel a.tag-btn:visited {color: #007ac6;}
.edit-tag-panel a.tag-btn:hover, .edit-tag-panel a.tag-btn:active {color: #bc2931; text-decoration: underline;}
.edit-unit-panel .itemLabel {color: #aaa;}
.edit-unit-panel .noteLabel,
.edit-unit-panel .tagsLabel {display: block; clear: both;}
.share-panel .dailogText,
.edit-unit-panel .dailogText {margin-top: 1em;}
.add-cang-panel .fav-add {padding: 0 30px; font-size: 14px;}
.add-cang-panel .text-input {width: 450px; margin: 0 0 0 1.5em;}
.add-cang-panel .item {margin: 1em 0 0;}
.add-cang-panel .error-tips {margin: 0 0 0 1em; color: #ea5449; display: none !important;}
.add-cang-panel .num-tips {position: absolute; right: 188px; top: 0; color: #aaa;}
.add-cang-panel .item-desc {position: relative;}
.add-cang-panel .error .error-tips {display: inline !important;}
.add-cang-panel .tag-extra {margin: 0 0 0 3.8em;}
.add-cang-panel .form-operate {margin: 2em 0 0 3.6em;}
.add-cang-panel .tag-list a:link, .add-cang-panel .tag-list a:visited {color: #3fb8eb;}
.add-cang-panel .tag-list a:hover, .add-cang-panel .tag-list a:active {color: #ea5449;}
.share-panel .dailogText {padding: 1em 0 3em;}
.share-panel .shareOkTips {margin: 0 0 0.5em; color: #93908e;}
.share-panel .copyLink {margin: 0 0 1em;}
.share-panel .copyLinkBtn {margin: 0 0 0 1em;}
.share-panel .destroyLinkBtn,
.share-panel .createLinkBtn {margin: 0 0 0 2em;}
.share-panel .createLinkBtn {}
.soucangTipsPopup .dailogBox {width: 622px; height: 467px; background: url(/css/pjt/site/page/imgs/intro/soucang_popup.png?v=3929) no-repeat 0 0;}
.soucangTipsPopup .dailogBox .big-btn {position: absolute; bottom: 56px; left: 54%;}
.soucangTipsPopup .dailogBox .back-old-btn {left: 21%;}
.share-panel #shareLink {width: 300px;}
